.navbar {
  @apply .bg-bf-blue .fixed .w-full .flex .items-center .justify-center .p-4 .z-50;
}

.nav-link {
  @apply .relative .mx-3 .text-sm .text-bf-blue-lightest;
}

.nav-link:hover {
  @apply .text-white;
}

@screen sm {
  .nav-link {
    @apply .text-base .mx-4;
  }
}

@screen md {
  .navbar {
    @apply p-6;
  }

  .nav-link::before {
    @apply .bg-bf-blue .bg-white;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
  }

  .nav-link:hover::before {
    transform: scaleX(1);
    visibility: visible;
  }
}
