body {
  @apply .font-body .font-normal .leading-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply .font-display .font-normal .text-black .leading-tight .mb-4 .mx-0;
}

h1 {
  @apply .mt-0;
  font-size: 2.827rem;
}

h2 {
  font-size: 1.999rem;
}

h3 {
  @apply .text-xl;
}

@screen sm {
  h1 {
    font-size: 3.998rem;
  }

  h2 {
    font-size: 2.827rem;
  }

  h3 {
    font-size: 1.999rem;
  }

  h4 {
    font-size: 1.414rem;
  }
}

p {
  @apply .text-black .mb-5;
}

a {
  @apply .text-bf-blue-light .no-underline;
  transition: color 150ms ease;
}

a:hover {
  @apply .text-bf-blue;
  transition: color 150ms ease;
}

small {
  font-size: 0.707rem;
}
