.navbar {
  @apply .fixed .w-full .flex .items-center .justify-center .p-4 .z-50;
}

.nav-link {
  @apply .relative .mx-4 .text-sm;
}

.nav-link:hover {
  @apply .text-bf-blue;
}

.opaque .nav-link {
  @apply .text-bf-blue-lightest;
}

.opaque .nav-link:hover {
  @apply .text-white;
}

/* 'sm' breakpoint */
@media (min-width: 576px) {
  .nav-link {
    @apply .text-base;
  }
}

/* 'md' breakpoint */
@media (min-width: 768px) {
  .navbar {
    @apply p-6;
  }

  .nav-link::before {
    @apply .bg-bf-blue;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
  }

  .opaque .nav-link::before {
    @apply .bg-white;
  }

  .nav-link:hover::before {
    transform: scaleX(1);
    visibility: visible;
  }
}
